@import '../../../../themes/vars.less';
.money-box {
  position: relative;
  display: inline-block;
  padding: 0;
  :global {
    .field-item {
      display: inline-flex;
      align-items: center;
      .label {
        color: fade(@black, 65%);
        &::after {
          margin: 0 4px;
          content: ':';
        }
      }
      .allow-edit {
        width: 160px;
        height: 32px;
        line-height: 32px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: #e4e4e4;
        }
      }
      .suid-money {
        padding: 0 8px;
        &.blue {
          color: @primary-color;
        }
        &.red {
          color: @error-color;
        }
      }
      .suid-money-input {
        top: auto;
        width: 160px;
      }
    }
  }
}
