@import '../../../themes/vars.less';
.container-box {
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: @page-background-color;
  :global {
    .suid-panel {
      height: 100%;
      .panel-body {
        height: 100% !important;
        max-height: 100% !important;
      }
    }
    .suid-tool-bar {
      button {
        margin-right: 8px;
      }
    }
    .action-box {
      display: inline-block;
      height: 100%;
      i {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 34px;
        border-radius: 4px;
        cursor: pointer;
        transition: all ease-in 0.2s;
        &.ant-dropdown-open,
        &:hover {
          color: @primary-color;
          background-color: fade(@black, 5%);
        }
        &.del:hover {
          color: @error-color;
          background-color: fade(@error-color, 15%);
        }
        &.ant-popover-open:hover,
        &.ant-popover-open {
          color: @error-color;
          background-color: fade(@error-color, 15%);
        }
      }
    }
  }
}

.form-modal-box {
  :global {
    .ant-input-number-handler-wrap {
      display: none;
    }
    .ant-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .ant-empty-image {
      height: auto;
    }
    .ant-modal-body {
      height: 460px;
      padding: 0;
      .ant-layout-header {
        height: 36px;
        padding: 0;
        line-height: unset;
        background: transparent;
      }
      .ant-card {
        height: 100%;
        .ant-card-body {
          height: calc(100% - 65px);
          padding: 0;
          .ant-list-item {
            padding: 12px 24px;
            .btn-del {
              display: inline-block;
              width: 32px;
              height: 32px;
              line-height: 34px;
              border-radius: 4px;
              cursor: pointer;
              transition: all ease-in 0.2s;
              &:hover {
                color: @error-color;
                background-color: fade(@error-color, 15%);
              }
              &.ant-popover-open:hover,
              &.ant-popover-open {
                color: @error-color;
                background-color: fade(@error-color, 15%);
              }
            }
          }
        }
      }
    }
  }
}

.action-box {
  :global {
    .ant-dropdown-menu-item {
      width: 120px;
      padding: 12px;
    }
  }
}
