@import '../../../../../../themes/vars.less';

.detail-item-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  :global {
    .pool-box {
      display: inline-block;
      max-width: 132px;
      height: auto;
      font-variant: tabular-nums;
      line-height: 16px;
      white-space: nowrap;
      background-color: @white;
      border-radius: 4px;
      cursor: default;
      transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      font-feature-settings: 'tnum';
      .title {
        display: inline-block;
        padding: 2px;
        color: #fff;
        font-size: 12px;
        background-color: #2db7f5;
        border-radius: 4px 0 0 4px;
      }
      .no {
        display: inline-block;
        margin: 0 4px;
        color: #47acea;
      }
    }
    .ant-descriptions-row > th,
    .ant-descriptions-row > td {
      padding-bottom: 0;
    }
    .ant-descriptions-item-label {
      min-width: 80px;
      color: fade(@black, 65%);
      text-align-last: justify;
    }
    .ant-list-item-meta-title {
      color: fade(@black, 85%);
    }
    .money-box {
      margin-top: 8px;
    }
    .ant-list-item {
      cursor: default !important;
    }
    .suid-money {
      padding-left: 8px;
      font-size: 16px;
    }
    .field-item {
      .label {
        color: fade(@black, 65%);
        &::after {
          margin: 0 4px;
          content: ':';
        }
      }
    }
    .inject-money {
      .field-item {
        .label {
          text-align: right;
        }
      }
    }
    .detail-summary {
      position: absolute;
      bottom: 10px;
      left: 24px;
      .ant-tag {
        .suid-money {
          padding-left: 0;
          font-size: 16px;
        }
      }
    }
  }
}
