@import '../../../themes/vars.less';
.log-box {
  height: 100%;
  padding: 0;
  :global {
    .amount-title {
      .ant-table-column-title {
        text-align: center;
      }
    }
    .suid-money {
      padding: 0 8px;
      color: fade(@black, 65%);
      &.blue {
        color: #52c41a;
      }
      &.red {
        color: @error-color;
      }
    }
    .ant-drawer-body {
      height: calc(100% - 56px);
      padding: 0;
    }
  }
}

.oper-box {
  border-right: none;
  :global {
    .ant-menu-item {
      padding: 2px 16px;
      &:hover {
        background-color: @hover-color;
      }
      .selected {
        position: absolute;
        left: 4px;
        line-height: 42px;
      }
      .view-popover-box-trigger {
        display: inline-block;
        padding: 8px;
        line-height: 22px;
      }
      &.ant-menu-item-selected {
        background-color: @menu-item-active-bg;
      }
    }
  }
}
